<style>
/* Stil pentru ascunderea secțiunilor */
.hidden-section {
    display: none;
}

.active-section {
    display: block;
}

/* Stiluri generale */
html {
    scroll-behavior: smooth;
}

:root {
    --primary-bg-color: #333;
    --second-bg-color: #fffffde1;
    --hover-bg-color: rgba(151, 105, 105, 0.603);}


body {
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #dbddec;
    color: #333;
    scroll-behavior: smooth;
}

/* Header */
header {
    background: rgba(0, 0, 0, 0.5); /* Transparent header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #070606;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 10;
    position: relative;
}

header h1 {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 2.5em;   
    letter-spacing: 2px;
}

header img{
    margin: 0;
    padding: 0;
    max-width: 10vw;
    max-height: 10vh;
    border-radius: 10px;
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;

}

nav ul li:hover {
    transform: scale(1.0);
    background-color: var(--hover-bg-color);
    border-radius: 15px;
}

nav ul li a {
text-decoration: none;
font-weight: bold;
font-size: 1.1em;
}


/* Stil pentru secțiuni */
section {
    padding: 50px 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: background: rgba(0, 0, 0, 0.04);
}

section h2 {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

section h2:after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    margin: 10px auto 0;
}
#despre-noi {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;

    z-index: 1; /* Asigură-te că secțiunea este deasupra video-ului */
}

#despre-noi h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
}

#despre-noi p {
    font-size: 1.4em;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
color: var(--second-bg-color);
justify-content: center;
align-items: center;    
max-width: 60vw;
}

.social-media-links {
    position: fixed;
    bottom: 25px;
    right: 20px;    
    padding: 15px;
    border-radius: 5px;
}
.social-media-links ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-media-links li {
    margin-bottom: 10px;
}

.social-media-links li:hover {
    transform: scale(1.2);
    background-color: var(--hover-bg-color);
    border-radius: 10px;
    opacity: 0.8;
}

.social-media-links a {
    text-decoration: none;
    color: var(--second-bg-color);
    font-size: 18px;
    display: flex;
    align-items: center;    
}

.social-media-links img {
    width: 24px; /* Dimensiunea pictogramelor */
    height: 24px;
    margin-right: 8px;  
}

.social-media-links .message {
    margin-left: 10px;
    font-size: 15px;
    color: var(--second-bg-color);
}
#solicita-oferta {
    padding: 40px 20px;
    margin: 10px auto;
    text-align: center;
    text-rendering:inherit;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    color: var(--second-bg-color);

}

#contact-form ::before{
    z-index: -1;
    }

#contact-form {
    background-color: rgba(0, 0, 0, 0.108);
    border-radius: 0.3;
}

#contact-form label{
    color:#fff;
}

#contact, #colaboratori-foto {
    color: var(--second-bg-color);
}

#contact, #colaboratori-foto p{
    font-size: 20px;
}



.slideFoto {
    display:none;
    position: absolute;
   
}

#materiale-foto {
    display: flex;
    flex-wrap: wrap; /* Permite ca imaginile să se rupă pe linii noi dacă nu mai încap pe aceeași linie */
    justify-content: center; /* Centrează imaginile orizontal */
    padding: 20px;
    color:var(--second-bg-color);
}

#materiale-video {
    color:var(--second-bg-color);
}

/* Stil pentru galerie foto */
#materiale-foto img {
    width: 40vw; /* Lățimea imaginii setată la 40% din lățimea paginii */
    max-width: 500px; /* Asigură că imaginea nu depășește o lățime maximă */
    margin: 15px;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 128, 128, 0.2);
}


#materiale-foto img:hover {
    transform: scale(1.0);
    box-shadow: 0 8px 16px rgba(0, 128, 128, 0.3);
}

.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}


img {
    vertical-align: middle;
}
@media (max-width: 768px) {
    #materiale-foto img {
        width: 80vw; /* Ajustează lățimea imaginilor pentru ecrane mai mici */
    }
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    color: var(--second-bg-color);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--hover-bg-color);
    border-radius: 15%;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: var(--hover-bg-color);
}

/* Animatie fade */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}           

/* Stil pentru container video */
#materiale-video .video-container {
    display: flex;
    flex-wrap: wrap; /* Permite elementelor să se rupă pe linii noi dacă nu mai încap */
    justify-content: center; /* Centrează elementele orizontal */
    gap: 20px; /* Spațiu între elemente */
}

#materiale-video .video-container iframe {
    margin: 10px;
    padding: 10px;
    flex: 1 1 calc(30% - 20px);
    max-width: calc(30% - 20px); /* Ajustează lățimea în funcție de numărul de elemente */
    max-height: 35vh;
    background-color:   var(--primary-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}
    
/* Stil pentru formular */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 128, 128, 0.1);
}

form label {
    margin-top: 15px;
    font-weight: bold;
    color: #b1d4d4b9;
}

form input,
form textarea {
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #20b2aa; /* Turcoaz mediu */
    border-radius: 5px;
    font-size: 1em;
    background-color: #f0f8f8;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #008080;
    box-shadow: 0 0 8px rgba(32, 178, 170, 0.5); /* Turcoaz mediu */
}

form button {
    margin-top: 20px;
    padding: 12px;
    background-color: rgb(15, 34, 34);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

form button:hover {
    background-color: var(--hover-bg-color); 
    box-shadow: 0 4px 8px rgba(0, 128, 128, 0.3);
}


/* Footer */
footer {
    background-color: var(--primary-bg-color);
    color: #e6d2d2;
    display: flex;
    place-items: center;
    padding: 10px; 
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 15px;
    
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Videoclipul este sub alte elemente */
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%); /* Reduce luminozitatea pentru a scoate secțiunea în evidență */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}



/* Stiluri pentru modal */
.modal {
    display: none; /* Ascuns în mod implicit */
    position: fixed;
    z-index: 1000; /* Asigură-te că este deasupra altor elemente */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Fundal semi-transparent */
    text-align: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.back-button {
    position: absolute;
    bottom: 80px;
    background-color: var(--primary-bg-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}

.back-button:hover {
    background-color: var(--hover-bg-color);
}


</style>
